@import "./modules";
@import "./mediaquaries";

#cars-area{ 
    &:hover{
        background: radial-gradient(circle at center,#f90, yellow, green);}

    display: flex;
flex-direction: column;
align-items: center;
margin:50px 0;
padding: 20px;
.cars{
    @include mobile{
        flex-direction: column;
    }
   // background-color: greenyellow;
   display: flex;
   
    
   img{
    width: 300px;
    cursor: pointer;
    
   }
   h3{
    text-align: center;
   }

}
button{
    @extend %button;
    background-color: rgb(0,180,180);
    margin-top: 50px;
    transition: all 0.5s;
    &:hover{
        background: radial-gradient(circle at center,red, yellow, green);
        // background-color: aqua;
        color: crimson;
    }
}
}